* {
    padding: 0;
    margin: 0;
}

:root {
    --colorPrimaryButton: #ff4655;
    --textButton: #ece8e1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header{
    background-color: #111;
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

header > img{
    width: 3vw;
    border-radius: 50%;
}

header > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

header > a:hover{
    border-bottom: solid 2px var(--colorPrimaryButton);
}

header > button{
    background-color: var(--colorPrimaryButton);
    text-align: center;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 12vw;
    padding: 2vh;
    border-radius: 0.2vw;
    cursor: pointer;
}

main{
    width: 100vw;
    height: 90vh;
    background-color: #111;
}

main video{
    width: 100%;
    height: 90vh;
    z-index: 1;
    position: absolute;
    object-fit: cover;
}

.content-items{
    width: 100vw;
    position: absolute;

    top: 25vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

    z-index: 2;
}

.content-items > figure{
    background-image: url(./images/logoValorantRefinado.png);
    width: 50vw;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-items > p{
    color: var(--textButton);
    font-weight: bold;
}

.content-items > a{
    background-color: var(--colorPrimaryButton);
    text-align: center;
    outline: none;
    border: none;
    color: var(--textButton);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 18vw;
    height: 5vh;
    padding: 2vh;
    border-radius: 0.2vw;
    cursor: pointer;
    text-decoration: none;
    transition: all ease .5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-items > a:hover{
    background-color: #111;
}